<div class="app-page">

  <div class="container py-5">

    <div class="text-center mb-5">

      <span class="badge rounded-pill text-bg-primary px-3 py-2 mb-3">
        AI Student Analytics
      </span>

      <h1 class="display-5 fw-bold mb-3">
        Student Performance Prediction
      </h1>

      <p class="text-secondary fs-5">
        Prédisez la performance académique d'un étudiant
        à partir de ses habitudes et de son parcours.
      </p>

    </div>

    <app-prediction></app-prediction>

  </div>

</div>