# =========================
# Python / Backend
# =========================

__pycache__/
*.py[cod]

venv/
.venv/
venv312/

env/
ENV/

# =========================
# Angular / Frontend
# =========================

frontend/node_modules/
frontend/.angular/
frontend/dist/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Windows / OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log